b {

}
.q {
	background-color: red;
	line-height: 10px;
	margin: 15px 0px 0px 0px;
	padding: 0px 10px 0px 10px; 
	border-radius: 30% 30% 30% 30%;
	display: inline-block;
	vertical-align: top;
}
.w {
	margin: 29px 0px 0px 10px;
	width: 235px;
	display: inline-block;
	vertical-align: top;
}
.e {
	display: inline-block;
	vertical-align: top;
}
.r {
	margin: 28px 0px 0px 0px;
	width: 50px;
	display: inline-block;
	vertical-align: top;
}
.t {
	margin: 31px 0px 0px 0px;
	padding: 2px 4px 2px 4px; 
	border-right: 3px solid;
	
	vertical-align: top;display: inline-block;
}
.y {
	margin: 31px 0px 0px 0px;
	padding: 2px 4px 2px 4px; 
	display: inline-block;
	vertical-align: top;
}
.u {
	border-bottom: 3px solid;
}
.i {
	width: 50px;
	display: inline-block;
	vertical-align: top;
}
.o {
	display: inline-block;
	vertical-align: top;
	margin: 0px 16px 0px 2px;
}
.p {
	margin: 0px 0px 0px 10px;
	width: 50px;
	display: inline-block;
	vertical-align: top;
}
.a {
	padding: 18px 14px 0px 2px; 
	border: 3px solid;
	display: inline-block;
	vertical-align: top;
}
.s {
	background-color: #8987ff;
	width: 539px;
	margin: 23px 0px 0px 2px;
	padding: 309px 3px 0px 2px; 
	display: inline-block;
	vertical-align: top;
}
.d {
	border: 3px solid;
	margin: 31px 0px 0px 0px;
	padding: 2px 4px 2px 4px; 
	display: inline-block;
	vertical-align: top;
}
.f {
	border: 3px solid;
	margin: 31px 0px 0px 0px;
	padding: 20px 20px 2px 4px; 
	display: inline-block;
	vertical-align: top;
}
.g {
	margin: 10px 0px 0px 0px;
}
.h {
	background-color: #8987ff;
	width: 53px;
	margin: 23px 0px 0px 2px;
	border: 1px solid;
	padding: 5px 0px 2px 4px; 
}
.j {
	width: 178px;
	display: inline-block;
	vertical-align: top;
	line-height: 18px;
}
.k {
	background-color: #8987ff;
	width: 108px;
	margin: 2px 0px 0px 2px;
	padding: 77px 0px 2px 4px; 
	display: inline-block;
	vertical-align: top;
}
.l {
	display: inline-block;
	vertical-align: top;
	width: 546px;
}
.z {
	line-height: 0px;
}
.x {
	padding: 0px 190px 0px 190px; 
	display: inline-block;
}
.c {
	border: 3px solid;
	padding: 0px 189px 57px 0px;
	display: inline-block;
}
.v {
	margin: 2px 0px 0px 2px;
}
.b {
	margin: 2px 0px 0px 2px;
}
.n {
	display: inline-block;
	vertical-align: top;
	width: 850px;
}
.m {
	display: inline-block;
    vertical-align: top;
    color: blue;
    font-size: 35px;
    margin: 65px 0px 0px 181px;
}